{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Александр Кирьяненко">

    <title>Чатик</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <link href="{% static "css/styles.css" %}" rel="stylesheet">
</head>

<body>

<main role="main" class="container h-100 d-flex align-items-center">
    <div class="container">
        {% block content %}{% endblock %}
        <p class="my-5 text-muted text-center">&copy; 2018</p>
    </div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "jquery-3.3.1.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
</body>
</html>
